  /////////////////////////////////////
 // 			COLORS 		    	//
/////////////////////////////////////
$white: #FFFFFF;
$red: #db2828;
$orange: #f2711c;
$yellow: #fbbd08;
$olive: #b5cc18;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
$grey: #767676;
// $black: #1b1c1d;
$light_blue: #4d9dd9;
$success : #1a531b;
$error: #912d2b;


$black:  							#4A4A4A;
$label-color: 						#666666;
$description-color: 				rgba(0,0,0,.68);
$secondary-description-color: 		rgba(0,0,0,0.5);

$theme-color: #2185D0;

$payor-theme: #388e3c;

$brand: #3fa044;
$brand-hover: $payor-theme;
$brand-active: #317c34;