<!DOCTYPE html>
<html lang="en">
  <head>

    <script>
      if (self == top) {
        document.documentElement.style.display = 'block';
      } else {
        top.location = self.location;
      }
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medilink - Account</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="ui container evoucher-container">
      <div class="ui centered grid">
        <div class="ten wide computer column">
          <%= render @view_module, @view_template, assigns %>
          <input type="hidden" id="locale" value="<%= @locale%>">
        </div>
      </div>
    </div>

    </div> <!-- .pusher closed -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(document).ready(function(){
        $('.modal-open-main.button').click(function(){
          $('.ui.modal').modal('show');
        });
      });
    </script>
  </body>
</html>

<%
  info = get_flash(@conn, :info)
  error = get_flash(@conn, :error)
%>

<%= if info do %>
  <script type="text/javascript">
    $(function() {
      swal({
        type: 'success',
        title: '<%= info %>'
      })
    });
  </script>
<% end %>

<%= if error do %>
  <script type="text/javascript">
    $(function() {
      swal({
        type: 'error',
        title: '<%= error %>'
      })
    });
  </script>
<% end %>
