@media only screen and (min-width: 1200px) {
  .ui.mini.modal {
    width: 360px;
    margin: 0 0 0 -180px;
  }
}

@media only screen and (min-width: 992px) {
  .ui.mini.modal {
    width: 340px;
    margin: 0 0 0 -170px;
  }
}

@media only screen and (min-width: 768px) {
  .ui.mini.modal {
    width: 35.2%;
    margin: 0 0 0 -17.6%;
  }
}


@media only screen and (max-width: 100%){
  .g-recaptcha {
    transform:scale(1.0);
    -webkit-transform:scale(1.0);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  
  }
}

@media only screen and (max-width: 1200px){
  .g-recaptcha {
    transform:scale(0.80);
    -webkit-transform:scale(0.80);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  
  }
}

@media only screen and (max-width: 768px){
  .g-recaptcha {
    transform:scale(0.68);
    -webkit-transform:scale(0.68);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.main.container {
  margin-top: 7em;
}

.text.aligned.right {
  text-align: right;
}

.ui.segment .description {
  color: rgba(0, 0, 0, 0.68);
}

.ui.hide {
  display: none;
}

.ui.dim {
  color: rgba(0, 0, 0, 0.68);
}

.header.expanded {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  height: auto;
}

.sep {
  border-bottom: 1px solid #eee;
}

.ui.secondary.menu.top {
  margin-bottom: 0;
  margin-top: 0;
}

.ui.secondary.menu.submenu {
  margin-left: 2rem;
  width: 12rem;
  display: none;
}

.ui.secondary.menu .item.active + .submenu {
  display: block;
}

.offcanvas-sidebar .ui.vertical.menu .item > i.icon, .main-sidebar .ui.vertical.menu .item > i.icon {
  float: none;
  margin-right: 8px;
}

.filter-holder {
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 90;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px #ccc;
}

.filter-tabs {
  display: none;
}

.filter-tabs > .tabs {
  height: 52px;
}

@media screen and (max-width: 1024px) {
  .filter-tabs {
    display: block;
  }
}

.filter-search {
  height: 52px;
}

@media screen and (max-width: 1024px) {
  .filter-search {
    display: none;
  }
}

.ui.basic.filter.buttons .active.button {
  background-color: #2185D0 !important;
  color: #FFFFFF !important;
}

.ui.primary.text {
  color: #2185D0;
}

.ui.blue.text {
  color: #2185D0;
}

.ui.purple.text {
  color: #CD29AC;
}

@media only screen and (min-width: 768px) {
  .pl-tablet-0 {
    padding-left: 0 !important;
  }
}

.hide {
  display: none !important;
}

.banner {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
  border-left: 0;
}

/**
 * Segment
 */
.ui.segment {
  color: rgba(0, 0, 0, 0.5);
}

.ui.form .field > label {
  color: #666666;
}

/**
 * Form fields
 */
.ui.form .field, .ui.form .fields {
  margin-bottom: 1.5rem;
}

.ui.form .fields .fields {
  margin-bottom: 0;
}

h2.ui.form-title {
  font-size: 1.2rem;
}

.ui.dividing.header {
  font-weight: normal;
  border: 0;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 1rem;
  margin-top: 2.5rem;
}

.ui.dividing.header:first-child {
  margin-top: 0.5rem;
}

/**
 * Steps
 */
.ui.steps .step {
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.ui.steps .step .icon {
  color: #BFBFBF;
}

.ui.steps .step.active .icon {
  color: #4183C4;
}

.ui.steps .step .description {
  color: rgba(0, 0, 0, 0.68);
}

/**
 * Vertical Menu
 */
.account-sidebar .ui.secondary.menu .active.item {
  background-color: transparent;
  font-weight: bold;
  color: inherit;
}

.account-sidebar .ui.secondary.menu .item {
  color: #9B9B9B;
}

.account-sidebar .ui.secondary.menu .item:hover {
  background-color: transparent;
}

/**
 * Custom Component
 * Sidebar
 */
.account-sidebar {
  width: 340px;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  padding-top: 96px;
  padding-left: 64px;
  padding-bottom: 32px;
  padding-right: 52px;
  background-color: #F7F7F7;
  overflow-y: auto;
}

.content-with-sidebar {
  margin-left: 380px;
  margin-right: 40px;
}

/**
 * Tablet
 */
@media only screen and (max-width: 991px) {
  .account-sidebar {
    padding-left: 16px;
    padding-top: 76px;
    padding-right: 16px;
    width: 260px;
  }
  .content-with-sidebar {
    margin-left: 290px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar-menu-handler {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar-item {
    display: none !important;
  }
}

/**
 * Breakpoint to display sidebar
 * Below the specified device width the side bar disappears and a hamburger menu
 * is visible at the top to toggle sidebar
 */
@media only screen and (max-width: 767px) {
  .main-sidebar {
    display: none;
  }
  .content-with-sidebar {
    margin-left: 0;
    margin-right: 0;
  }
}

.theme-color {
  color: #2185D0;
}

/**
 * Card on the signup form that is displays the information about the user
 */
.ui.form-header {
  display: none;
  margin-top: 1rem;
}

/**
 * Mobile media queries
 */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ui.form-step {
    display: none;
  }
  .ui.form-header {
    display: block;
  }
  .order-first-mobile {
    order: -1;
  }
}

@media only screen and (min-width: 768px) {
  .ui.side-card {
    padding: 2rem;
    text-align: center;
  }
}

/**
 * Accordion
 */
.ui.accordion.request-form {
  width: auto;
  margin-bottom: 12px;
}

.ui.accordion.request-form .accordion-wrapper {
  margin-bottom: 1rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0 0.8rem;
  border-radius: 4px;
}

.ui.accordion.request-form .title {
  background-color: #F8F8F8;
  border-radius: 3px;
  border-top: 0;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  padding: 0.8rem;
}

.ui.accordion.request-form .title > .checkbox {
  font-weight: bold;
}

.ui.accordion.request-form .title.active {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0.8rem;
}

.ui.accordion.request-form .title .dropdown.icon {
  float: right;
}

/* browsers require these rules separate */
input::-webkit-input-placeholder {
  font-weight: 100;
}

input::-moz-placeholder {
  font-weight: 100;
}

input:-ms-input-placeholder {
  font-weight: 100;
}

.ui.form .field > label {
  font-weight: normal;
}

.ui.menu {
  box-shadow: 0 1px 1px 0 rgba(34, 34, 34, 0.1);
  border: 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

.ui.menu .item:before {
  width: 0;
}

.ui.menu .item img:not(.ui) {
  width: auto;
  height: 1.5em;
  margin-right: 1rem;
}

.banner--home {
  padding: 6% 0 8%;
  background-color: #4A4A4A;
  background-image: url(/images/banner.jpg);
}

.banner h1.header {
  font-size: 3.5rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
  text-shadow: 0 2px 11px #000000;
  margin-bottom: 2rem;
}

.box {
  padding: 1em;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 4px;
}

.ui.cards .card.primary-box {
  background-color: #E7F3FB;
  border-color: #A8B3BB;
}

.ui.cards .card.primary-box {
  padding: 1.5em;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.ui.items > .item > .content > .header:not(.ui) {
  font-weight: 400;
}

.img-header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ui.button.request {
  text-transform: uppercase;
  background-color: #2185D0;
  color: white;
  /*font-weight: 100; */
}

.padder {
  padding: 1em;
}

.item .padder {
  padding-top: 0;
  padding-bottom: 0;
}

.item:first-child .padder {
  padding-top: 1em;
}

.item:last-child .padder {
  padding-bottom: 1em;
}

.ui.divided.items.blog > .item {
  padding: 1.2rem 0;
}

.ui.divided.items.blog > .item .header {
  font-size: 1.128rem;
}

.ui.table thead th {
  color: #9b9b9b;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}

.dim {
  color: #9b9b9b;
}

.status {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}

.status.pending {
  color: #E0A200;
}

.status.disapproved {
  color: #FE0000;
}

.status.for-approval {
  color: #FF8153;
}

.status.eligible {
  color: #18C61B;
}

.mr-1 {
  margin-right: 1rem;
}

.header_affiliate {
  text-transform: uppercase;
  font-size: 12px;
  color: #2987CD;
  padding-left: 1rem;
}

.desc_black {
  color: #000000;
  padding-left: 2px;
}

@media only screen and (min-width: 767px) {
  .ui.dashboard > .inline.fields {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid .ui.form .inline.fields .field {
    margin-bottom: 1rem;
  }
  .mobile.hidden {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

.disabled.field {
  opacity: 1 !important;
}

.disabled.field input[type="text"] {
  background: #F2F2F2;
}

.skip_text {
  margin-left: 1rem;
}

.upload_txt {
  padding-right: 3rem;
}

.download_btn {
  border: 0;
  color: #2987CD;
  font-size: 20px;
}

.ui.card-table {
  border: 0;
  font-size: 0.875rem;
  height: 100%;
  border-radius: 0;
  border-collapse: collapse;
}

.ui.card-table thead tr:first-child > th:only-child {
  border-radius: 0;
}

.ui.card-table .checkbox {
  font-size: 0.875rem;
}

.ui.card-table thead th {
  background-color: #F3A537;
  color: #FFF;
  font-size: 16px;
  text-transform: none;
  border: 0;
}

.ui.card-table td {
  border-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.cards-holder .column {
  padding: 0 !important;
}

.cards-holder .inner-container {
  max-height: 200px;
  background-image: url("../img/site-logo.png");
  background-size: auto 12px;
  background-repeat: no-repeat;
  background-position: bottom 24px right 24px;
}

.cards-holder .inner-container > td {
  padding-top: 24px;
}

.cards-holder td {
  vertical-align: top;
}

.content-holder {
  padding-top: 108px;
  height: 100vh;
}

.left-column, .right-column, .content-holder {
  display: flex;
}

.left-column {
  position: relative;
}

.right-column {
  flex-grow: 1;
  position: relative;
}

.content-scroll {
  overflow-y: auto;
  height: 100%;
}

.map-overlay {
  transition: background 300ms;
}

.doctors-list {
  display: flex;
  background-color: #FFF;
  position: relative;
  z-index: 3;
  box-shadow: 8px 0 16px -5px rgba(0, 0, 0, 0.1);
}

.doctors-list .ui.list > .item {
  padding: 16px 8px 16px 24px;
  cursor: pointer;
}

.doctors-list .ui.list > .item.active {
  background-color: #F3F4F5;
}

.doctors-list-detail {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: #FFF;
  transform: translateX(0);
  transition: transform 300ms;
  overflow: auto;
  right: 0;
}

.doctors-list-detail .close {
  padding: 8px;
  margin-bottom: -16px;
}

.doctors-list-detail.active {
  box-shadow: 8px 0 16px -5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
}

.doctors-list-detail.active + .map-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.doctors-list-detail .ui.list > .item {
  padding: 16px 16px 16px 24px;
}

.doctors-list-search {
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.doctors-list .item {
  position: relative;
}

.map-holder, .map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .map-holder {
    height: calc(100vh - 108px);
  }
}

.doctor-affiliated i {
  color: #F5A623;
}

.doctor-affiliated .content .header span {
  color: #2987CD;
}

.doctor-affiliated .content .header span, .doctor-nonaffiliated .content .header span {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 1rem;
}

.doctor-nonaffiliated i, .doctor-nonaffiliated .content .header span {
  color: #9B9B9B;
}

.doctors-list .description > p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.4);
}

.doctors-list .description > .list-footer {
  margin-top: 8px;
}

.doctor-affiliated .description p span, .doctor-nonaffiliated .description p span {
  padding-left: 2px;
  color: #000000;
}

.mb_zero {
  margin-bottom: 0;
}

.six.wide.column.pr_zero {
  padding-right: 0;
}

.ui.menu > .item.label {
  padding-right: 0;
}

.filter-search {
  border-top: 1px solid #eee;
}

.filter-search .ui.menu {
  box-shadow: none;
}

.filter-search .ui.menu:not(.vertical) .item > .button {
  font-size: 0.875rem;
}

.filter-search .item.label {
  font-size: 0.875rem;
}

.filter-search .ui.basic.buttons .active.button {
  background-color: #2185D0 !important;
  color: #FFFFFF !important;
}

.hospital.icon, .caret.right.icon {
  color: #2185D0;
}

.get_direction, .get_direction .icon {
  font-size: 10px;
  margin-left: 5px;
  color: #2185D0;
}

@media screen and (max-width: 768px) {
  .doctors-list .ui.list > .item {
    padding-left: 16px;
  }
}

.filter-button {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  bottom: 8px;
}

.filter-button > .ui.button {
  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1025px) {
  .show-for-tab {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .show-for-tab {
    display: block;
  }
  .content-holder .tab-target {
    display: none;
  }
  .content-holder .tab-target.active {
    display: flex;
  }
  .doctors-list-search {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .doctors-list-search > .list > .item:last-child {
    margin-bottom: 32px;
  }
  .doctors-list-detail {
    z-index: 5;
    transform: translate(100%);
  }
  .doctors-list-detail > .list > .item:last-child {
    margin-bottom: 32px;
  }
  .doctors-list-detail.active {
    transform: translate(0);
    box-shadow: 8px 0px 16px 11px rgba(0, 0, 0, 0.1);
  }
  .left-column.tab-target {
    width: 100%;
    position: relative;
  }
  .left-column.tab-target .doctors-list {
    width: 100%;
  }
  .left-column.tab-target .doctors-list .list {
    width: 100%;
  }
}

.ui.small.modal .header.top_most, .ui.small.modal .content {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.ui.small.modal .content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.ui.small.modal .header p {
  font-size: 14px;
  font-weight: normal;
}

.modal_edit {
  padding-left: 1rem;
}

.personal_info {
  color: #999999;
}

.center_align {
  text-align: center;
}

.center_align button.blue.button {
  padding-left: 5rem;
  padding-right: 5rem;
}

.ui.bulleted.list {
  margin-top: 0;
  padding-left: 1.8rem;
}

.ui.bulleted.list .item {
  padding-top: 0;
  padding-bottom: 0;
}

.two.fields.pb_zero {
  margin-bottom: 0;
}

.ui.radio.checkbox .blue_text {
  color: #2987CD;
}

.ui.horizontal.segments > .segment.add_blue {
  background: #F5FBFF !important;
  border-radius: 2px 0 0 2px;
  border: 1px solid #2987CD;
}

.pusher {
  margin-bottom: 5rem;
}
main {
  margin-bottom: 5rem;
}

footer {
  margin-top: 10em;
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  bottom: 0;
  display: block;
  color: #BBBBBB;
  margin-bottom: 0rem;
  background-color: #FFFFFF;
  .ui.center.aligned.basic.segment {
    padding: 1rem;
  }
}
.square-input {
  border-radius: 0.28571429rem !important;
}

.absolute-label-message{
  margin: auto !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 50rem !important;
  position: absolute !important;
  z-index: 1 !important;
  text-align: center !important;
}

h3 {
  margin-top: 0rem;
}

.no_margin_bot {
  margin-bottom: 0rem;
}

.mod_label {
  color: #565656;
}

.hidden {
  display: none
}

.show {
  display: block
}

.modal_center {
  margin: 0 auto !important;
  margin-top: 15rem !important;
}

#smart-health-container {
  padding-top: 3.4rem;
  display: block;
  overflow: hidden;
  
}

#smart-health-iframe {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 100%;
  padding-bottom: 7rem;
}

#name-color {
  color: #326bd6;
}