.status-tag {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid #BBBBBB;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 1rem;
}

.status-tag--green {
    border: 2px solid #2DB84B;
    color: #2DB84B;
}

.status-tag--red {
    border: 2px solid #D92B2F;
    color: #D92B2F;
}

.status-tag--orange {
    border: 2px solid #FF9000;
    color: #FF9000;
}

.status-tag--yellow {
    border: 2px solid #FFD700;
    color: #FFD700;
}
