/* =============Login Page============ */

.login {
    // background-color: #DADADA;
    // background: #f9f9f9;
    //blue
    // background: rgba(33,133,208,1);
    // background: -moz-linear-gradient(top, rgba(33,133,208,1) 0%, rgba(102,204,255,1) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,133,208,1)), color-stop(100%, rgba(102,204,255,1)));
    // background: -webkit-linear-gradient(top, rgba(33,133,208,1) 0%, rgba(102,204,255,1) 100%);
    // background: -o-linear-gradient(top, rgba(33,133,208,1) 0%, rgba(102,204,255,1) 100%);
    // background: -ms-linear-gradient(top, rgba(33,133,208,1) 0%, rgba(102,204,255,1) 100%);
    // background: linear-gradient(to bottom, rgba(33,133,208,1) 0%, rgba(102,204,255,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2185d0', endColorstr='#66ccff', GradientType=0 );
    //green
    background: rgba(56, 142, 61, 1);
    background: -moz-linear-gradient(top, rgba(56, 142, 61, 1) 0%, rgba(66, 150, 70, 1) 14%, rgba(79, 160, 83, 1) 29%, rgba(93, 170, 95, 1) 43%, rgba(107, 181, 110, 1) 57%, rgba(121, 190, 124, 1) 71%, rgba(137, 199, 139, 1) 85%, rgba(154, 210, 156, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56, 142, 61, 1)), color-stop(14%, rgba(66, 150, 70, 1)), color-stop(29%, rgba(79, 160, 83, 1)), color-stop(43%, rgba(93, 170, 95, 1)), color-stop(57%, rgba(107, 181, 110, 1)), color-stop(71%, rgba(121, 190, 124, 1)), color-stop(85%, rgba(137, 199, 139, 1)), color-stop(100%, rgba(154, 210, 156, 1)));
    background: -webkit-linear-gradient(top, rgba(56, 142, 61, 1) 0%, rgba(66, 150, 70, 1) 14%, rgba(79, 160, 83, 1) 29%, rgba(93, 170, 95, 1) 43%, rgba(107, 181, 110, 1) 57%, rgba(121, 190, 124, 1) 71%, rgba(137, 199, 139, 1) 85%, rgba(154, 210, 156, 1) 100%);
    background: -o-linear-gradient(top, rgba(56, 142, 61, 1) 0%, rgba(66, 150, 70, 1) 14%, rgba(79, 160, 83, 1) 29%, rgba(93, 170, 95, 1) 43%, rgba(107, 181, 110, 1) 57%, rgba(121, 190, 124, 1) 71%, rgba(137, 199, 139, 1) 85%, rgba(154, 210, 156, 1) 100%);
    background: -ms-linear-gradient(top, rgba(56, 142, 61, 1) 0%, rgba(66, 150, 70, 1) 14%, rgba(79, 160, 83, 1) 29%, rgba(93, 170, 95, 1) 43%, rgba(107, 181, 110, 1) 57%, rgba(121, 190, 124, 1) 71%, rgba(137, 199, 139, 1) 85%, rgba(154, 210, 156, 1) 100%);
    background: linear-gradient(to bottom, rgba(56, 142, 61, 1) 0%, rgba(66, 150, 70, 1) 14%, rgba(79, 160, 83, 1) 29%, rgba(93, 170, 95, 1) 43%, rgba(107, 181, 110, 1) 57%, rgba(121, 190, 124, 1) 71%, rgba(137, 199, 139, 1) 85%, rgba(154, 210, 156, 1) 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#388e3d', endColorstr='#9ad29c', GradientType=0);
}

.login .grid {
    height: 100%;
}

// .login .image {
//     margin-top: -100px;
// }
.login .column {
    max-width: 950px;
}

.login h3 {
    font-weight: 500 !important;
    letter-spacing: .5px;
}

.segment-radius {
    border-radius: .65rem !important;
}

.plr_login {
    // padding: 1.5em !important;
    padding-left: 12em !important;
    padding-right: 12em !important;
}


/* =============Login Page============ */


/* =============Authentication Pages Settings============ */

// .login {
//   background: #f9f9f9;
//   width: 100%;
//   min-height: 100%;`
//   overflow: hidden;
//   padding-top:10%;
// }

/* =============Authentication Pages Settings============ */