<div class="ui ordered three steps">
  <div class="<%= check_active_step(@conn, 1) %> step">
    <div class="content">
      <div class="title">Basic</div>
    </div>
  </div>
  <div class="<%= check_active_step(@conn, 2) %> step">
    <div class="content">
      <div class="title">Roles</div>
    </div>
  </div>
  <div class="<%= check_active_step(@conn, 3) %> step">
    <div class="content">
      <div class="title">Summary</div>
    </div>
  </div>
</div>